<!DOCTYPE html>
<html lang='pt-br'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" defer src="../puppeteer.ts"></script>
  <title>CK | Ações</title>
</head>

<body class="body">
  
  <%- include('./components/header') %>

  <span class="flex justify-center items-center my-4 px-4">
    <%- include('./components/search_bar') %>
  </span>


  <% if(true) {%>
    <h2><%= teste %></h2>
    <% } %>
</body>

</html>