<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  
  <title>CK | Ações</title>
</head>

<body>
  
  <%- include("./components/header") %>

  <div class="flex justify-center items-center my-4 px-4">
    <%- include("./components/search_bar") %>
  </div>

  <% if(stocks === undefined) {%>
    <div class="flex justify-center items-center">
      Busque por um ticket para obter resultados...
    </div>
  <%} else {%>
    <div class="flex flex-col space-y-4 justify-center sm:space-y-0 sm:grid sm:gap-4 sm:grid-cols-2 lg:gap-8 lg:grid-cols-3 px-4">
      <% for (const data of stocks.stocks) {%>
        <%- include("./components/stock", {token: data.token, href: data.href, src: data.src, targetPrice: data.targetPrice, recomendation: data.recomendation, date: data.date}) %>
      <%} %>
      
      <%for (const data of stocks.sheets) {%>
        <%- include("./components/cambio", {name: data.name, src: data.src, href: data.href,date: data.date, table: data.table}) %>
      <%}%>
      
    </div>
  <%}%>

</body>

</html>