<section class="flex flex-col justify-between border-2 rounded-lg p-2">
  <div class="w-full border-b-2 border-black">
    <h2 class="text-center">
      <b>
        <%= 'Itaú BBA' %>
      </b>
    </h2>
  </div>
  <div class="mx-auto underline">
    <a href=<%= 'https://www.itau.com.br/media/dam/m/6502c908bc29ecac/original/Projecoes_de_Longo_Prazo_Itau_BRASIL_set23.xlsx' %>>
      Fonte
    </a>
  </div>
</section>